%bebas-400{ 
    font-family: 'Bebas-Regular',  sans-serif;  
    font-weight: 400;
  }    
   
  %lato-300{ 
    font-family: 'Lato-Light',  sans-serif; 
    font-weight: 300;
  }  
   
  %lato-900{ 
    font-family: 'Lato-BlackItalic',  sans-serif; 
    font-weight: 900;
  }  
   
  %oswald-700{ 
    font-family: 'Oswald-Bold',  sans-serif; 
    font-weight: 700;
  } 