@import 'vars'; 
@import 'fonts';   
@import 'reset';  
@import 'global';     
@import 'libs';     
 
 
.header{  
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
     //height: 100vh;

   &__top{ 
    padding: 8px 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 190px;
   }   
    
  &__main{  
      text-align: center;   
      margin-bottom: 355px;
    } 
     
    &__main-title{  
       font-size: 115px;  
       @extend  %bebas-400;
       line-height: 125px;
      }  
       
    &__main-title--top{   
        color: #4d4d4d; 
    }
     
    &__main-title--bottom{  
      color: #414f6b;
    } 
     
   
 }   
  


 
.menu{ 
  &__list{ 
    display: flex; 
    justify-content: space-between;
  }  
   
  &__item{ 
    padding: 4px 4px 4px 0; 
    transition: all .3s;
  }

  &__item + .menu__item {
    margin-left: 50px;  
    padding: 4px 8px 4px 0; 
 }   
   

 &__item:hover{ 
    border-bottom: 1px solid #fefeff; 
}  
   
 &__link{ 
    color:#fefeff; 
    font-size: 12px;  
    text-transform: uppercase;    
    font-weight: 900;
   
 } 
 
 .menu__btn {
  position: relative;
  width: 50px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: all 0.25s;
  text-align: center;
  border: 1px solid transparent; 
  cursor: pointer; 
  display: none;


  .row-top,
  .row-middle,
  .row-bottom {
      position: absolute;
      top: 0;
      left: 9px;
      width: 30px;
      height: 3px;
      background-color: #fff;
      transform: rotate(0);
      transition: all 0.5s;
  } 
   
  .row-top {
      transform: translateY(9px);
  }

  .row-middle {
      transform: translateY(17px);
  }

  .row-bottom {
      transform: translateY(25px);
  }

} 
 
.menu__btn--open {
  .row-top {
      transform: rotate(45deg) translateY(11px) translateX(14px);
  }

  .row-middle {
      display: none;
  }

  .row-bottom {
      transform: rotate(-45deg) translateY(14px) translateX(-10px);
  }
}

}  
 
.header-bottom{  
  border: 1px solid transparent; 
  background-color: #fff;  

  &__inner{ 
    padding: 15px 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }  

  .menu{ 
     
    &__list-hb{ 
      display: flex; 
      justify-content: space-between;
    }  
     

    &__item:hover{ 
        border-bottom: 1px solid #414f6b; 
    }  
       
     &__link{ 
        color:#414f6b; 
        font-size: 12px;  
        text-transform: uppercase;    
        font-weight: 900;
       
     } 
    }
}
 
.history{ 
  padding-top: 57px;  
  background-image: url('../images/history-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title-box{ 
    position: relative;  
    padding-top: 39px;    
    margin-bottom: 47px;
  }  

  &__title{ 
    font-size: 136px; 
    @extend %oswald-700; 
    color: rgba(65, 79, 107, 0.502); 
    text-transform: uppercase;
  } 
   
  &__subtitle{ 
    font-size: 32px; 
    @extend %oswald-700;  
    color: rgb(65, 79, 107); 
    position: absolute; 
    top: 47px;
    left: 158px;
  } 
   
  &__content{ 
    @extend %lato-300; 
    font-size: 16px; 
    line-height: 24px; 
    color:#000;  
    max-width: 819px; 
    margin-left: 67px; 
    margin-bottom: 565px;
  }

} 

.history-photo{ 
  background-image: url('../images/history-photo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  &__inner{ 
    padding: 25px 0 35px;
  }   
   
  .slick-arrow{
    border:none;
    border-radius:50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor:pointer;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 5; 
} 
 
.slick-prev{
  left: 25px;
}

.slick-next{
  right: 25px;
} 
   
  &__item{ 
    margin: 0 5px; 
    display: block; 
    text-align: center; 
    border: 1px solid transparent;
  }  
   
  &__img{ 
    margin: 0 auto;
  }
   
  .slick-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -30px;
  }
  
  .slick-dots li+li {
    margin-left: 10px; 
  }
  
  .slick-dots .slick-active button {
    background: #fff; 
    opacity: 1;
  }
  
  .slick-dots button {
    width: 10px;
    height: 10px;
    background: rgb(255, 255, 255); 
    opacity: 0.2;
    font-size: 0;
    border-radius: 50%;
    border: none; 
    cursor: pointer;
  }
}
  
.climb{  
 background: #fff;
&__top{ 
  padding: 32px 0 28px;   
  display: flex; 
} 
 
&__title-box{ 
  position: relative;  
  padding-top: 39px;    
  margin-bottom: 47px;
}  

&__title{ 
  font-size: 136px; 
  @extend %oswald-700; 
  color: rgba(65, 79, 107, 0.502); 
  text-transform: uppercase;
} 
 
&__subtitle{ 
  font-size: 32px; 
  @extend %oswald-700;  
  color: rgb(65, 79, 107); 
  position: absolute; 
  top: 47px;
  left: 158px;
}  
 
&__content{ 
  max-width: 595px; 
  margin-left: 100px;
  margin-top: 15px;

  }
} 
 
.climb-tabs{ 
  background-color: #414f6b; 
  &__nav{  
    display: flex;
  } 
   &__item{ 
    padding: 5px 7px;
   } 
  &__link{ 
     color:#b0b4be;  
     @extend %oswald-700; 
     font-weight: 20px; 
     padding-bottom: 5px; 
     padding: 10px 23px;
  } 
   
  &__link--active{  
    background: #b0b4be; 
    color: #414f6b; 
    text-decoration: underline;
  } 
}  
 
.tabs-content { 
 
  background-image: url('../images/tabs-content1-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;       
  display: none;
 

  &__inner{ 
    padding-top: 100px;
  }
   
  &__message-box{ 
    max-width: 350px;  
    height: 230px;  
    padding: 20px 35px 25px;  
    margin-bottom: 217px; 
    margin-left: 33px;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;   
  } 

  &__title{ 
    font-size: 32px; 
    color: #414f6b; 
    @extend %oswald-700; 
    opacity: 1;  
    margin-bottom: 19px;
  } 

  &__schedule{ 
    display: flex; 
    width: 100%;
  }   

  &__schedule-events{ 
    margin-left: 55px;
  } 
   
  &__schedule-date, 
  &__schedule-event{ 
    margin-bottom: 10px;
  }  

  &__schedule-date-bm, 
  &__schedule-event-bm{ 
    margin-bottom: 25px;
  }
}  
 
 .display-block{ 
  display: block;
 }
  
 .close-link{ 
  display: none;
 }

.tabs-content1{ 
    background-image: url('../images/tabs-content2-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;      
    display: none;
  
}

 
.tabs-content.tabs-content--active{ 
  display:block;
}   

.tabs-content1.tabs-content--active{ 
  display:block;
}   
 
.footer{ 
  background:#414f6b; 
  &__inner{ 
    padding: 17px 0 15px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  } 
  &__text{  
    font-size: 12px; 
    @extend %lato-900; 
    color: rgb(99, 118, 157); 
    text-transform: uppercase; 
    font-weight: 900;
  }
}

@import 'media';  




